@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,900;1,9..40,200&display=swap');

html, body {
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

}

.wrapper-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;

}

.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 12px 25px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    
    i {
        margin-left: 8px;
        font-size: 0,9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: white;
    }

}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 12px 25px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    
    i {
        margin-left: 8px;
        font-size: 0,9em;
    }

    &:hover {
        background-color: #191919;
        border: 1px solid #191919;
        color: white;
    }

}

.btn-black {
    background-color: #191919;
    border: 1px solid #191919;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 25px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    
    i {
        margin-left: 8px;
        font-size: 0,9em;
    }

    &:hover {
        background-color: #FFFFFF;
        border: 1px solid #191919;
        color: #191919;
    }

}

.section-title {
    padding-top: 70px;
    padding-bottom: 40px;

    @media (min-width: 768px) {
        padding-top: 120px;
        padding-bottom: 90px;   

    }
    
    p {
        color: #F94D1C;
        margin-bottom: 10px;
    }

    h2 {
        color: #191919;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 45px;
    }
    
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    .container {
        display: grid;
        justify-content: center;
        justify-items: auto;
        align-items: top;
        grid-template-columns: 1fr;
    
        @media (min-width: 968px) {
            grid-template-columns: 1fr 1fr;
        }
    
        
    
        .infobox {
            padding: 20px;
    
            h4 {
                font-family: "Inter";
                font-size: 18px;
                font-weight: 500;
                line-height: 22px;
                color: #f94d1c;
                padding-bottom: 40px;
    
            }
    
            h2 {
    
            }
    
            p {
                font-family: "Inter";
                font-size: 18px;
                font-weight: 500;
                line-height: 22px;
                color: #000000;
            }
        
        
        
        }

        .samantha {
            position: relative;
        }
    
        .samantha img{
            padding-top: 20px;
            height: auto;
            max-width: 100%;
           
            
          
        }
        .text-block {
               
            position: absolute;
            bottom: 0px;
            left: 0px;
            background-color: #BEEBFF;
            color: white;
            
          }
        
    }
    
}