@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,900;1,9..40,200&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.wrapper-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0, 9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: white;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0, 9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: white;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0, 9em;
}
.btn-black:hover {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
}

.btn-round {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px 17px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 50%;
}
.btn-round i {
  margin-left: 1px;
}
.btn-round:hover {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
}

.uspicon {
  text-decoration: none;
  padding: 17px 17px;
  border: 1px solid #191919;
  border-radius: 50%;
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
}
.dots i {
  margin: 7px;
  color: #c3ab70;
}
.dots i:hover {
  color: #191919;
}

.starrating {
  color: #F94D1C;
  padding-right: 3px;
}

.section-title {
  padding-top: 70px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .section-title {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}
.section-title p {
  color: #F94D1C;
  margin-bottom: 10px;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.usp-text {
  padding-left: 20px;
}
.usp-text h4 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
}
.usp-text p {
  font-family: "Inter";
  font-size: 16px;
  color: rgba(25, 25, 25, 0.7);
}

.articleandnews .container .dots {
  padding-top: 20px;
  padding-bottom: 20px;
}
.articleandnews .container .dots i {
  color: #e0e0e0;
}
.articleandnews .container .dots i:hover {
  color: #191919;
}
.articleandnews .container .section-title p {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
}
.articleandnews .container .section-title .inside {
  display: grid;
}
@media (min-width: 992px) {
  .articleandnews .container .section-title .inside {
    display: flex;
    justify-content: space-between;
  }
}
.articleandnews .container .articles {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-wrap: break-word;
  padding-bottom: 20px;
}
.articleandnews .container .articles a {
  color: #191919;
  text-decoration: none;
}
@media (min-width: 992px) {
  .articleandnews .container .articles {
    display: flex;
    justify-content: space-between;
    text-align: start;
  }
}
.articleandnews .container .articles .article .articleimg {
  position: relative;
  height: 280px;
  width: 360px;
}
@media (min-width: 992px) {
  .articleandnews .container .articles .article .articleimg {
    height: 280px;
    width: 420px;
  }
}
.articleandnews .container .articles .article .articleimg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.articleandnews .container .articles .article .articleimg .date {
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 56px;
  height: auto;
  background-color: #F9D783;
  color: #191919;
  top: 20px;
  left: 20px;
}
.articleandnews .container .articles .article .articleimg .date h4 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: 700;
  padding-top: 5px;
}
.articleandnews .container .articles .article .articleimg .date p {
  padding: 0;
  margin: 0;
  font-family: "Inter";
  font-size: 16px;
}